server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/recharge
    username: recharge
    password: recharge

  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true

  flyway:
    enabled: true

  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest
