server:
  port: 8080

spring:
  servlet:
    encoding:
      charset: UTF-8
      enabled: true
      force: true
      force-response: true
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true

  flyway:
    enabled: true

  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest
